html, body {
    height: 100%;
}

body {
    background-image: url(/static/ing/IMG_4918.jpg);
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 750px) {
    body {
        background-image: url(/static/ing/фото-9.jpg);
        background-size: cover;
        background-position: center;
    }
}


.nur{

    font-size: 5vw;
    display: flex;
    min-height: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thanks{
    margin: 1vw;
    color: #6e6c6e;

}
@media screen and (max-width: 750px) {
    .thanks{
        font-size: 10vw;
        margin: 1vw;
        color: #2b253e;
    }
}

.compliment{
    margin: 3vw;
    text-align: center;
    color: rgb(76, 110, 128);
}
@media screen and (max-width: 750px) {
    .compliment{
        font-size: 10vw;
        margin-bottom: 5vw;
        text-align: center;
        color: #243a4c;
    }
}

.count{
    margin: 1vw;
    color: #6e6c6e;
}

@media screen and (max-width: 750px) {
    .count{
        font-size: 10vw;
        margin: 1vw;
        color: #14292fdc;
    }
}