<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arina</title>
    <link rel="stylesheet" href="/static/arina_the_best.css">
</head>
<body>
    <div class="arina">
        <div class="flex">
            <div>
                <p class="thanks"><i>Cпасибо :)</i></p>
                <p class="compliment"><i>Я ценю тебя</i></p>
            </div>
            <div>
                {{count}}
            </div>
        </div>
            

    </div>
</body>
</html>