<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Arina</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="parent">
        <div class="arina">ArinaReya</div>
        <div class="info">Самый круто в мире фотограф?</div>
        <div class="voice">У тебя есть 1 голос выбирай с умом</div>
    
        <div class="flex">
            <div>
                <form action="/arina_the_best" method="post">
                    <button class="but blue">Да</button>
                </form>
            </div>
            
            <div>
                <form action="/nur_the_best" method="post">
                    <button class="but green"> Нурик лучше</button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>