<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nur</title>
    <link rel="stylesheet" href="/static/nur_stile.css">
</head>
<body>

    <div class="nur">
        <div class="flex">
            <div></div>
            <div class="thanks">Рад что ты тут</div>
            <div class="count">{{count}}</div>
        </div>
        <div class="compliment">Нечего и говорить о твоем умении увидеть прекрассное</div>
    </div>
</body>
</html>